@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #215f00;
    --background: 105 100% 98.38%;
    --foreground: 105 10% 0.76%;

    --muted: 105 10% 91.9%;
    --muted-foreground: 105 5% 41.9%;

    --popover: 105 48% 97.57%;
    --popover-foreground: 105 10% 0.95%;

    --card: 105 48% 97.57%;
    --card-foreground: 105 10% 0.95%;

    --border: 105 15% 89.76%;
    --input: 105 15% 89.76%;

    --primary: 105 100% 19%;
    --primary-foreground: 105 2% 91.9%;

    --secondary: 105 4% 92.71%;
    --secondary-foreground: 105 7% 11.9%;

    --accent: 105 4% 92.71%;
    --accent-foreground: 105 7% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 105 100% 19%;

    --radius: 0.5rem;
  }
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}

.spinner_qM83 {
  animation: spinner_8HQG 1.05s infinite;
}
.spinner_oXPr {
  animation-delay: 0.1s;
}
.spinner_ZTLf {
  animation-delay: 0.2s;
}
@keyframes spinner_8HQG {
  0%,
  57.14% {
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    transform: translate(0);
  }
  28.57% {
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    transform: translateY(-6px);
  }
  100% {
    transform: translate(0);
  }
}
